@font-face {
  font-family: 'Roboto';
  src: local('Roboto'), url(./assets/fonts/Roboto-Regular.ttf) format('woff');
}

@font-face {
  font-family: 'Roboto Bold';
  src: local('Roboto Bold'), url(./assets/fonts/Roboto-Bold.ttf) format('woff');
}

html, body {
  height: 100%;
  width: 100%;
  display: flex;
  margin: 0;
  padding: 0;
}

html, body, input { 
  font-family: 'Roboto';  
}

html, body, #root {
  flex: 1;
}